src/main/java/org/clintrorick/bggxmlapiwrapper/item2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="body"/>
                <xs:element name="comment">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="username"/>
                                <xs:attribute type="xs:string" name="date"/>
                                <xs:attribute type="xs:string" name="postdate"/>
                                <xs:attribute type="xs:string" name="editdate"/>
                                <xs:attribute type="xs:byte" name="thumbs"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="id"/>
            <xs:attribute type="xs:string" name="objecttype"/>
            <xs:attribute type="xs:string" name="subtype"/>
            <xs:attribute type="xs:int" name="objectid"/>
            <xs:attribute type="xs:string" name="objectname"/>
            <xs:attribute type="xs:string" name="username"/>
            <xs:attribute type="xs:string" name="postdate"/>
            <xs:attribute type="xs:string" name="editdate"/>
            <xs:attribute type="xs:byte" name="thumbs"/>
            <xs:attribute type="xs:int" name="imageid"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
